/*reset*/
a{text-decoration: underline  ; color:#000;}
a:hover{text-decoration: underline;cursor:pointer;color:#000;}
h1,h2,h3,ul,li{padding:0;margin:0;}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

@font-face {
	font-family: 'Museo Sans Cyrl 100';
	src: url('/static/fonts/MuseoSansCyrl-100.eot');
	src: url('/static/fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/static/fonts/MuseoSansCyrl-100.woff') format('woff'), /* Modern Browsers */ url('/static/fonts/MuseoSansCyrl-100.ttf') format('truetype'), /* Safari, Android, iOS */ url('/static/fonts/MuseoSansCyrl-100.svg#6eff97f49ef0d64b413b2622a3c841e0') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('/static/fonts/MuseoSansCyrl-500.eot');
	src: url('/static/fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/static/fonts/MuseoSansCyrl-500.woff') format('woff'), /* Modern Browsers */ url('/static/fonts/MuseoSansCyrl-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('/static/fonts/MuseoSansCyrl-500.svg#6eff97f49ef0d64b413b2622a3c841e0') format('svg');
	font-style: normal;
	font-weight: normal;
}

.clearfix {
	display: block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
/* overlay common styles*/
body{
	font-size:12px;
	font-family: 'Museo Sans Cyrl 100', sans-sreif;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	min-width: 980px;
	background: #fff;
}

html{
	overflow-y: scroll;
}

body,html{
	height: 100%;
}


.l-header{
	height: 371px;
	background: #fff url('/static/css/promo/logo.png') center center no-repeat;
	position: relative;
	font-family: 'Museo Sans Cyrl 500';
}

.l-wrapper{
	padding:10px 0px 60px 0px;
	overflow:hidden;
	min-width:980px;
	display: block;
}

.l-container{
	min-height: 100%;
	height:auto !important;
	height:100%;
	margin:0 auto;
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
}

.l-content{
	text-align: left;
	min-width:980px;
	width: 100%;
	min-height:200px;
	display: inline-block;
}

.l-content .content
{
	padding: 20px;
}

.l-footer{
	position: relative;
	width:100%;
	margin:-60px 0 0;
	height:60px;
	z-index:20;
	text-align: right;
	overflow: hidden;
}

.l-header
{
	text-align: left;
}

.l-header ul li a
{
	text-decoration: none;
	font-size: 14px;
}

.l-header ul li a:hover
{
	text-decoration: underline;
	font-size: 14px;
}

.l-header ul li a.selected
{
	color: red;
}


.l-header ul li
{
	display: inline-block;
	margin: 2px;
	padding: 2px;
}


.effect-shadow-1{
	box-shadow: 0px 6px 12px -6px #eee;
}

.effect-shadow-2{
	box-shadow: 0px 6px 12px -10px #aaa;
}

.effect-shadow-3{
	box-shadow: 0px 16px 12px -12px #444;
}

.effect-shadow-5
{
	height:200px;
	margin:0px auto;
	position: relative;
}
.effect-shadow-5:before, .effect-shadow-5:after
{
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 30px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #777;
	-webkit-box-shadow: 0 35px 20px #777;
	-moz-box-shadow: 0 35px 20px #777;
	box-shadow: 0 35px 20px #777;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
}
.effect-shadow-5:after
{
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
	right: 10px;
	left: auto;
}